In [188]:
import pandas as pd
import regex as re

# Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.# 
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [199]:
t_1='Python Exercises, PHP exercises.'

In [201]:
patten=re.compile('\s|,|\.')
match_1=re.sub(patten,":",t_1)
match_1

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Tejasvini Patil\AppData\Local\Temp\ipykernel_2432\1340968925.py:1: SyntaxWarning: invalid escape sequence '\s'
  patten=re.compile('\s|,|\.')

'Python:Exercises::PHP:exercises:'

# Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
# Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
# Expected output-
# 0      hello world
# 1             test
# 2    four five six

In [54]:
Dictionary= {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
q2=pd.DataFrame(Dictionary)

patten_2=re.compile('[A-Z0-9,!;:|.]+')
def m2(text):
    return re.sub(patten_2,"",text)

q2['SUMMARY']=q2['SUMMARY'].apply(m2)

print(q2)

         SUMMARY
0    hello world
1           test
2  four five six

# Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [57]:
t3='Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.'

In [73]:
patten_3=re.compile('\w{4,}')
match_3=re.findall(patten_3,t3)
match_3=pd.DataFrame(match_3)
match_3

<>:1: SyntaxWarning: invalid escape sequence '\w'
<>:1: SyntaxWarning: invalid escape sequence '\w'
C:\Users\Tejasvini Patil\AppData\Local\Temp\ipykernel_2724\1074991886.py:1: SyntaxWarning: invalid escape sequence '\w'
  patten_3=re.compile('\w{4,}')

             0
0       Create
1     function
2       python
3         find
4        words
5         that
6        least
7   characters
8         long
9       string
10     compile
11      method
12   mandatory

# Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [76]:
t4='Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.'

In [80]:
patten_4=re.compile('\w{3,5}')
match_4=re.findall(patten_4,t4)
match_4=pd.DataFrame(match_4)
match_4

<>:1: SyntaxWarning: invalid escape sequence '\w'
<>:1: SyntaxWarning: invalid escape sequence '\w'
C:\Users\Tejasvini Patil\AppData\Local\Temp\ipykernel_2724\3709819663.py:1: SyntaxWarning: invalid escape sequence '\w'
  patten_4=re.compile('\w{3,5}')

        0
0   Creat
1   funct
2     ion
3   pytho
4    find
5     all
6   three
7    four
8     and
9    five
10  chara
11   cter
12  words
13  strin
14    The
15    use
16    the
17  compi
18  metho
19  manda
20   tory

# Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
# Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
# Expected Output:
# example.com
# hr@fliprobo.com
# github.com
# Hello Data Science World
# Data Scientist

In [138]:
t5=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
t_5=pd.DataFrame(t5)
t_5

                            0
0              example (.com)
1          hr@fliprobo (.com)
2               github (.com)
3  Hello (Data Science World)
4            Data (Scientist)

In [140]:
pattern_5=re.compile('[()]')

def m5(text):
    return re.sub(pattern_5,"",text)
t_5[0]=t_5[0].apply(m5)
t_5

                          0
0              example .com
1          hr@fliprobo .com
2               github .com
3  Hello Data Science World
4            Data Scientist

# Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.# 
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]# 
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data# "]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [185]:
t6 =["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
t_6=pd.DataFrame(t6)
t_6

                            0
0              example (.com)
1          hr@fliprobo (.com)
2               github (.com)
3  Hello (Data Science World)
4            Data (Scientist)

In [191]:
pattern_6=re.compile(r'\b*\(.*\)')

def m6(text):
    return re.sub(pattern_6,"",text)
t_6[0]=t_6[0].apply(m6)
t_6

              0
0      example
1  hr@fliprobo
2       github
3        Hello
4         Data

# Question 7- Write a regular expression in Python to split a string into uppercase letters.# 
Sample text: “ImportanceOfRegularExpressionsInPython”# 
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [221]:
t7= 'ImportanceOfRegularExpressionsInPython'

In [225]:
pattern_7=re.compile(r'(?=[A-Z])')
match_7=re.split(pattern_7,t7)
match_7

['', 'Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

# Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [269]:
t8='RegularExpression1IsAn2ImportantTopic3InPython'

In [273]:
pattern_8=re.compile(r'(?=[0-9])')
match_8=re.split(pattern_8,t8)
match_8

['RegularExpression', '1IsAn', '2ImportantTopic', '3InPython']

# Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers. # 
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"  # 
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [296]:
t9= 'RegularExpression1IsAn2ImportantTopic3InPython'

In [360]:
def insert_spaces_before_after_digits(text):
    result = re.sub(r'(\d+)', r' \1 ', text)
    
    result = re.sub(r'\s+', ' ', result)
    
    return result
    
match_9= insert_spaces_before_after_digits(t9)
print(match_9)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

# Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.# 
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [372]:
q10=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
q10

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [435]:
df = pd.DataFrame(q10)

def first_six_letters(country_name):
    match = re.match(r'^[A-Za-z]{1,6}', country_name)
    return match.group(0)

df['first_six_letters'] = df['Country'].apply(first_six_letters)

first_six_letters=pd.DataFrame(df['first_six_letters'])
first_six_letters

    first_six_letters
0              Switze
1              Icelan
2              Denmar
3              Norway
4              Canada
..                ...
153            Rwanda
154             Benin
155             Syria
156            Burund
157              Togo

[158 rows x 1 columns]

# Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [483]:
def text_match(text):
        patterns = '\w+'
        if re.search(patterns,text):
                return 'matched'
        else:
                return('Not matched')

print(text_match("!@&^#%#"))
print(text_match("Karan_Patil_1992"))

Not matched
matched

<>:3: SyntaxWarning: invalid escape sequence '\w'
<>:3: SyntaxWarning: invalid escape sequence '\w'
C:\Users\Tejasvini Patil\AppData\Local\Temp\ipykernel_2724\802390002.py:3: SyntaxWarning: invalid escape sequence '\w'
  patterns = '\w+'

# Question 12- Write a Python program where a string will start with a specific number.

In [526]:
def number_match(number):
    text = re.compile(r"^1")
    if text.match(number):
        
        print('Yes the first occruance matches in the given string ')
    else:
        print('No match found')
print(number_match('15211611'))

Yes the first occruance matches in the given string
None

# Question 13- Write a Python program to remove leading zeros from an IP address

In [537]:
ip = ".192.000.168.5.5"
match_13 = re.sub('\.[0]*', '.', ip)
print(match_13)

.192..168.5.5

<>:2: SyntaxWarning: invalid escape sequence '\.'
<>:2: SyntaxWarning: invalid escape sequence '\.'
C:\Users\Tejasvini Patil\AppData\Local\Temp\ipykernel_2724\2464357881.py:2: SyntaxWarning: invalid escape sequence '\.'
  match_13 = re.sub('\.[0]*', '.', ip)

# Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
# 
Sample text  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’
.# 
Expected Output- August 15th 19
4# 7
Note- Store given sample text in the text file and then extract the date string asked format.
.

In [601]:
t14 = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."

pattern_14 = re.compile(r"\b([A-Z][a-z]+) (\d{1,2}\D{2}) (\d{4})\b")

matches_14 = re.findall(pattern_14,t14)
print(matches_14)

[('August', '15th', '1947')]

# Question 15- Write a Python program to search some literals strings in a string. # 
Sample text : 'The quick brown fox jumps over the lazy dog.'# Searched words : 'fox', 'dog', 'horse'

In [678]:
def text_match(text):
    pattern_15 = re.compile('fox|dog|horse')
    if re.search(pattern_15, text):
        return 'Matched'
    else:
        return 'Not matched'

print(text_match('The quick brown fox jumps over the lazy dog'))

Matched

# Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [731]:
pattern_16 = 'fox'
t16 = 'The quick brown fox jumps over the lazy dog.'
match_16 = re.search(pattern_16,t16)
print(match_16)

<re.Match object; span=(16, 19), match='fox'>

# Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [736]:
t17 = 'Python exercises, PHP exercises, C# exercises'
pattern_17 = re.compile('exercises')
if re.findall(pattern, text):
    print('Matched')
else:
    print('Not found')

Matched

# Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [14]:
t18 = 'Python exercises, PHP exercises, C# exercises'
pattern_18 = 'exercises'
for match in re.finditer(pattern_18,t18):
    start = match.start()
    end = match.end()
    print(t18[start:end], start, end)

exercises 7 16
exercises 22 31
exercises 36 45

# Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [21]:
def date_format(date):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', date)
date_1 = "2026-01-02"
print("Original date: ",date_1)
print("New date : ",date_format(date_1))

Original date:  2026-01-02
New date :  02-01-2026

# Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [20]:
t20="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

In [22]:
def decimal_numbers(number):
    pattern_20=re.compile(r'\b\d+\.\d{1,2}\b')
    
    matche_20 = pattern_20.findall(number)
    
    return matche_20

result = decimal_numbers(t20)
print(result)

['01.12', '145.8', '3.01', '27.25', '0.25']

# Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [41]:
t21 = "Question 21- Write a Python program to separate and print the numbers and their position of a given string."

for i in re.finditer("\d+",t21):
    print(i)

<regex.Match object; span=(9, 11), match='21'>

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Tejasvini Patil\AppData\Local\Temp\ipykernel_4752\4269213343.py:3: SyntaxWarning: invalid escape sequence '\d'
  for i in re.finditer("\d+",t21):

# Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
# Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
# Expected Output: 950

In [56]:
import heapq
t22 = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern_22 = re.findall(r'\d+', t22)
largest_number = heapq.nlargest(1, pattern_22)[0]
print('extract largest numeric: ',largest_number)

extract largest numeric:  950

# Question 23- Create a function in python to insert spaces between words starting with capital letters.# 
Sample Text: “RegularExpressionIsAnImportantTopicInPython"# 
Expected Output: Regular Expression Is An Important Topic In Python

In [63]:
t23='RegularExpressionIsAnImportantTopicInPython'

In [71]:
pattern_23=re.compile(r"(\w)([A-Z])")
match_23=re.sub(pattern_23," ",t23)
match_23

'Regula xpressio   mportan opi  ython'

In [103]:
def spaces(text):
    
    spaced= re.sub(r'([a-z])([A-Z])', r'\1 \2', t23)
    
    return spaced

In [105]:
result = spaces(t23)

print("Result:", output)

Result: Regular Expression Is An Important Topic In Python

# Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [146]:
t24='Python regex to find sequences of one upper case letter followed by lower case letters'

In [175]:
def upper_lower_case(text):

    
        pattern_24 = re.compile(r'[A-Z][a-z]+')
    
        if re.findall(pattern_24, text):
            return ('matched')
        else:
            return('Not matched')
            
print(upper_lower_case(t24))
print("Matches:", matches)

matched
Matches: ['Hello', 'Learning', 'Python', 'Regex', 'Techniques']

# Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.# 
Sample Text: "Hello hello world world"# 
Expected Output: Hello hello world

In [3]:
t25= "Hello hello world world"

In [95]:
pattern_25 = re.compile(r'\b(\w+)\b(\s+\1\b)+')

match_25 = re.sub(pattern_25, r'\1', t25)

match_25

'Hello hello world'

# Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [109]:
t26= ["Hello123", "Welcome!"]
t_26=pd.DataFrame(t26)
t_26

          0
0  Hello123
1  Welcome!

In [144]:
t26= ["Hello123", "Welcome!"]
t_26=pd.DataFrame(t26)

def alphanumeric(text):
    pattern_26=re.compile( r'[a-zA-Z0-9]$')
    
    if re.search(pattern_26, text):
        return True
    else:
        return False
        
t_26['Ends_With_Alphanumeric'] = t_26[0].apply(alphanumeric)
t_26['Ends_With_Alphanumeric']

0     True
1    False
Name: Ends_With_Alphanumeric, dtype: bool

# Question 27-Write a python program using RegEx to extract the hashtags.
# Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
# Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [150]:
t27= """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <U+00A0><U+00BD><U+00B1><U+0089> "acquired funds" No wo"""

In [158]:
match_27 = re.findall(r'#\w+', t27)
match_27

['#Doltiwal', '#xyzabc', '#Demonetization']

# Question 28- Write a python program using RegEx to remove <U+..> like symbols
# Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
# Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
# Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [163]:
t28="@Jags123456 Bharat band on 28??<U+00A0><U+00BD><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

In [165]:
pattern_28 = re.compile(r'<U\+\w+>')
match_28 = re.sub(pattern_28, '', t28)
match_28

'@Jags123456 Bharat band on 28??Those who are protesting #demonetization are all different party leaders'

# Question 29- Write a python program to extract dates from the text stored in the text file.# 
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.# 
Note- Store this sample text in the file and then extract dates.

In [170]:
t29='Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.'

In [191]:
string = 'Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.'

pattern_29= re.compile(r'\d{2}-\d{2}-\d{4}')
dates = re.findall(pattern_29, t29)

print("Extracted Dates:",dates)

Extracted Dates: ['12-09-1992', '15-12-1999']

# Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly"
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [194]:
t30 = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern_30 = re.compile(r'\W*\b\w{1,3}\b')
match_30=re.sub(pattern_30,"",t30)
match_30

' following example creates ArrayList with capacity elements elements then added ArrayList ArrayList trimmed accordingly.'